@keyframes backgroundAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 3%;
    padding: env(safe-area-inset-top)
             env(safe-area-inset-right)
             env(safe-area-inset-bottom)
             env(safe-area-inset-left);
    background: linear-gradient(110deg, #4b3c66, #21184f, #712336);
    background-size: 200% 200%;
    animation: backgroundAnimation 15s infinite;
    color: #d9d9d9;
    font-family: 'Verdana', Sans-serif;
}
p {
    word-wrap: break-word;
}
pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}
button {
    background-color: #e7e7e7; /* Gray */
    border: none;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #555555; /* Black */
    color: white;
}
ol.widget {
    list-style-type: none;
    padding: 0px;
    margin-right: 40px;
}
#widgets-section {
  display: flex; /* Display list items horizontally */
  flex-wrap: wrap; /* Wrap items to multiple lines if needed */
}
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  #widgets-section {
    flex-direction: column; /* Display list items vertically */
  }
  ol.widget {
    margin-right: 0px;
  }
}
