micropython_repo/micropython/
micropython_repo/webrepl/
MicrOS/*.mpy
**.pyc
**.DS_Store
**.idea/
**__pycache__
micrOS/node_config.json
mpy-micrOS/node_config.json
tools/venv/

framework/esp-open-sdk/
media/micrOSDoc/
media/micrOS_GIF_PNGs/
proto/
*.txt
