# Generic file extension ignores
**.pyc
**.DS_Store
**.idea/
**__pycache__

# micrOS code ignores
micrOS/source/*.mpy
micrOS/source/node_config.json

# Workspace ignore
toolkit/workspace/precompiled/node_config.json
toolkit/workspace/simulator

# Cloned resource
micrOS/micropython/esp-open-sdk/
toolkit/workspace/webrepl/

# Generated virtualenv
env/venv/

# Temporary media edits
media/micrOSDoc/
media/micrOS_GIF_PNGs/

# setup.py generated resources
micrOSDevToolKit.egg-info/
build/
dist/
.eggs/

# micrOS console log
micros.log
