adafruit-ampy==1.0.7
appdirs==1.4.4
astroid==2.4.2
click==7.1.2
distlib==0.3.1
ecdsa==0.16
esptool==3.0
filelock==3.0.12
ipaddress==1.0.23
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
netaddr==0.8.0
mpy-cross==1.14
netifaces==0.10.9
pyaes==1.6.1
pylint==2.5.3
PyQt5==5.15.2
pyserial==3.4
python-dotenv==0.14.0
resources==0.0.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
