adafruit-ampy
esptool
ipaddress
mpy-cross==1.20.0
Werkzeug
netaddr
pylint
PyQt5
PyQt5-sip
pyserial
python-dotenv
PyYAML
resources
Flask
Flask-RESTful
matplotlib
json2html
wheel
twine
psutil
setuptools
